// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.non-available{
    background-color: red;
}
.fc-day.fc-daygrid-day{
    background-color: red;
}
.fc-day.fc-day-other.fc-daygrid-day,.fc-day.fc-day-other.fc-daygrid-day.available{
    background-color: transparent;
}
.fc .fc-daygrid-day.fc-day-today.non-available,.fc .fc-daygrid-day.fc-day-today{
    background-color: red;
    border: 3px solid black;
}

.fc-day.fc-daygrid-day.available{
    background-color: green;
}
.fc .fc-daygrid-day.fc-day-today.available{
    background-color: green;
}
.fc-day.fc-day-sat.fc-daygrid-day.available,
.fc-day.fc-day-sat.fc-daygrid-day,
.fc-day.fc-day-sun.fc-daygrid-day {
    background-color: transparent;
}
.fc-daygrid-event-harness{
    visibility: hidden;
}
